@charset "UTF-8";
/* CSS Document */

body {
	background-color: sandybrown
	color: #444;          /* text color for the entire document */
	font-size: 12px;
	font-family:Verdana, Geneva, sans-serif;
}

#wrapper {
	border 900px;
	margin:0 auto;         /* centers wrapper */
 	text-align:center;
	background-color: antiquewhite;  /* creates white background with 80% opacity */
}

table {
	margin:0 auto;  /* centers table*/
}

td {
	background-color: white;  /* sets background color for table cells*/
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

audio { 
	width:200px;   /* sets the width of the audio controls */
}


a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  dimgray; 
	color:  darkorange; 
}

a:hover {
	font-size:200%;
	background-color: cornflowerblue; 
	color: goldenrod; 
}