@charset "UTF-8";
/* CSS Document */

body{
	backgroundcolor: black;
color: steelblue
}

#wrapper {
width: 300px;
margin: 0 auto;
text-align: center;
}

 #blackpanther {
border: silver 5px solid;
}
 
 #blackpanther2 {
display: none; /* hides content */
border: silver 5px solid;
}

.choices {
cursor: pointer;
}

img {
width: 200px;
height:auto;
}